{% extends 'base.html' %}
{% block content %}
<h2>Consulta de Datos</h2>
<form method="POST">
    Fecha: <input type="date" name="fecha"><br>
    Tipo de Incidente: <input type="text" name="tipo_incidente"><br>
    Subtipo de Incidente: <input type="text" name="subtipo_incidente"><br>
    Uso de Arma: <input type="checkbox" name="uso_arma"><br>
    Uso de Moto: <input type="checkbox" name="uso_moto"><br>
    Barrio: <input type="text" name="barrio"><br>
    Comuna: <input type="text" name="comuna"><br>
    <button type="submit">Consultar</button>
</form>
{% endblock %}
