{% extends 'base.html' %}
{% block content %}
<h2>Ingreso de Datos</h2>
<form method="POST">
    <label>Fecha:</label>  <input type="date" name="fecha"><br>
    <label>Tipo de Incidente: </label>
            <select type="text" name="tipo_incidente">
                <option>Vialidad</option>
                <option>Lesiones</option>
                <option>Amenazas</option>
                <option>Hurto</option>
                <option>Robo</option>
                <option>Homicidios</option>
            </select>
    
    <br>
    Subtipo de Incidente: <select type="text" name="subtipo_incidente">
        <option>Muertes por siniestros viales</option>
        <option>Lesiones por siniestros viales</option>
        <option>Lesiones Dolosas</option>
        <option>Amenazas</option>
        <option>Hurto total</option>
        <option>Robo total</option>
        <option>Hurto automotor</option>
        <option>Robo automotor</option>
        <option>Homicidio Doloso</option>
    </select><br>
    
    <label> Uso de Arma:</label> <input type="checkbox" name="uso_arma"><br>
    <label> Uso de Moto:</label> <input type="checkbox" name="uso_moto"><br>
    <label> Dirección:</label> <input type="text" name="direccion"><br>
    <label> Número:</label> <input type="text" name="numero"><br>
    <button type="submit">Guardar</button>
</form>
{% endblock %}
