{% extends 'base.html' %}
{% block content %}
<h2>Resultados de la Consulta</h2>
<table border="1">
    <tr>
        <th>Fecha</th><th>Tipo</th><th>Subtipo</th><th>Uso de Arma</th><th>Uso de Moto</th><th>Dirección</th><th>Número</th>
    </tr>
    {% for incidente in resultados %}
    <tr>
        <td>{{ incidente.fecha }}</td>
        <td>{{ incidente.tipo_incidente }}</td>
        <td>{{ incidente.subtipo_incidente }}</td>
        <td>{{ incidente.uso_arma }}</td>
        <td>{{ incidente.uso_moto }}</td>
        <td>{{ incidente.direccion }}</td>
        <td>{{ incidente.numero }}</td>
    </tr>
    {% endfor %}
</table>

<br>

<button> <a href="{{ url_for('index') }}">Volver a inicio</a></button>

{% endblock %}
